@keyframes fade {
	0%, 40%, 80%, 100% {
		opacity: 1;
	}
	50%, 70% {
		opacity: 0;
	}
}

.smol-links-create {
	padding: 15px 15px 0 15px;

	.smol-links-label {
		display: block;
		font-size: 14px;
		font-weight: bold;
		padding-bottom: 5px;

		&--optional:after {
			content: "optional";
			font-weight: normal;
			margin-left: 10px;
		}

		&.required:after {
			content: "required";
			font-weight: normal;
			margin-left: 10px;
			color: #d63638;
		}
	}
}

.smol-links-manager {
	font-size: 14px;

	.smol-links-loading {
		padding: 15px;
		margin-left: 5px;
	}
}

.smol-links-tabs {
	border-bottom: 2px solid #135e96;
	font-size: 16px;
	line-height: 39px;

	ul {
		display: flex;
		margin-bottom: 0;
		margin-left: 15px;
	}

	li {
		list-style: none;
		margin: 0 1px 0 0;
	}

	a {
		background: #dedede;
		text-decoration: none;
		padding: 10px 15px;
		height: 30px;
		transition: background-color 0.1s ease-out;

		&:hover {
			background-color: #ccc;
		}

		&.selected {
			color: #fff;
			background-color: #135e96;
		}
	}
}

.smol-links-loading-dot {
	width: 8px;
	height: 8px;
	background-color: #50575e;
	border-radius: 4px;
	display: inline-block;
	margin-right: 4px;
	animation: 2s fade linear infinite;

	&--1 {
		animation-delay: -0.4s;
	}

	&--2 {
		animation-delay: -0.2s;
	}
}

.smol-links-edit-heading {
	margin: 0;
	padding-bottom: 15px;
	font-size: 14px;
}

.smol-links-edit-field {
	padding-bottom: 15px;
}

.smol-links-label {
	display: block;
	font-weight: bold;
	padding-bottom: 5px;
}

.smol-links-long-url,
.smol-links-title {
	width: 100%;
	max-width: 600px;
}

.smol-links-short-code {
	width: 200px;
}

.smol-links-list {
	margin: 0;
	border-top: 1px solid #e5e5e5;
}

.smol-links-item {
	margin: 0;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;

	.smol-links-item__content {
		display: flex;
	}

	.smol-links-item__clicks {
		min-width: 125px;
	}

	.smol-links-item__long-url {
		color: #0073aa;
		font-size: 14px;
		font-weight: bold;
	}

	&:hover {
		background: #e5e5e5;

		.smol-links-item__long-url {
			color: #0096dd;
		}
	}

	.smol-links-item__short-url {
		color: #50575e;
		margin-top: 5px;
	}

	.smol-links-item__edit {
		display: none;
	}

	&.smol-links-item--is-editing {
		background: #fff;
		border: 1px solid #c3c4c7;
		cursor: default;

		.smol-links-item__edit {
			display: block;
		}

		.smol-links-item__content {
			display: none;
		}
	}

	.smol-links-loading {
		display: none;
	}

	&.smol-links-item--is-saving {
		pointer-events: none;

		.smol-links-item__long-url {
			color: #50575e;
		}

		.smol-links-item__short-url {
			display: none;
		}

		.smol-links-loading {
			display: block;
		}
	}
}

.smol-links-edit-short-code {
	width: 100px;
}

.smol-links-edit-prefix {
	color: #50575e;
	font-size: 14px;
}

.smol-links-item__copy {
	vertical-align: top;
	cursor: pointer;

	&:hover .smol-links-item__copy-link svg {
		fill: #0096dd;
	}

	.smol-links-item__copy-success {
		display: none;
	}

	&--success {
		.smol-links-item__copy-link {
			display: none;
		}
		.smol-links-item__copy-success {
			display: inline-block;
		}
	}
}

.smol-links-create-feedback {
	margin-top: 20px;

	.wrap & .notice {
		margin-bottom: 0;
	}
}

.smol-links-error {
	padding: 20px 0;
}

.smol-links-pagination {
	margin: 10px 0 0 0;
	display: block;
}

.search-container {
	margin: 10px 0 0 10px;
}

.smol-links-search-button {
	vertical-align: middle;
}

.smol-links-header {
	display: flex;
}
