.smol-links-reload-domains.is-loading {
	pointer-events: none;
	text-decoration: none;
	color: #808080;
}

th+td:has(input[required]) {
	&::after {
		content: "required";
		font-weight: normal;
		margin-left: 10px;
		color: #d63638;
	}
}